body { /* covers the whole page */
    padding: 0;
    margin: 0; 
    background-image: url("./images/Garden/lavender.jpg");
    background-size: cover;
}
.gradient_background {
    background: linear-gradient(#A9C6EF, #7CDF7C, #DDE7DA, #DDE7DA, white); /* 6 colors */
    background-size: cover;
}
.calendar {
    display: grid;
    row-gap: 10rem;
}
label {
    font-family: "arial";
    margin-bottom: 8px;
}
#nav {
    background-color: black;
    background-size: cover;
}

#links {
    display: flex;
    justify-content: space-between;
}

.link:hover {
    background-color: rgba(169, 169, 169, 0.411);
}