body { /* covers the whole page */
    padding: 0;
    margin: 0; 
    background-image: url("./images/Nature/meadow.jpg");
    /* background-color: black; */
    background-size: cover;
}
.gradient_background {
    background: linear-gradient(#A9C6EF, #7CDF7C, #DDE7DA, #DDE7DA, white); /* 6 colors */
    background-size: cover;
}
.calendar {
    display: grid;
    row-gap: 10rem;
}
label {
    font-family: "arial";
    margin-bottom: 8px;
}
/* .nav {
    background-image: url("./images/Butano 2000 (11 of 32).jpg");
    background-size: cover;
} */
/*.image_background {
    
}
*/